In [1]:
import numpy as np;
import pandas as pd;

In [2]:
import json;
from pprint import pprint

The history saving thread hit an unexpected error (OperationalError('unable to open database file',)).History will not be written to the database.

In [3]:
with open('outputsource.json') as f:
    data = json.load(f)

In [35]:
Results_DF = pd.DataFrame.from_dict(data['results'])

In [36]:
Results_DF.shape

(9150, 4)

In [37]:
Results_DF.head()

,candidate,constituency,party,votes
0,ROBERT ROMAWIA ROYTE,Mizoram - Aizawl East ii,Mizo National Front,5869
1,B LALCHHANZOVA,Mizoram - Aizawl East ii,Independent,4377
2,LALSAWTA,Mizoram - Aizawl East ii,Indian National Congress,3818
3,T LALMALSAWMI,Mizoram - Aizawl East ii,Bharatiya Janata Party,112
4,None of the Above,Mizoram - Aizawl East ii,None of the Above,47

In [38]:
#Method to split contituency to State & Constituency
def splitToStateAndConstituency(x):
    items =  x.split('-');
    return items[0].strip(),items[1].strip()

In [39]:
Results_DF[:1]['constituency']

0    Mizoram - Aizawl East ii
Name: constituency, dtype: object

In [11]:
"hi-there".split('-')

['hi', 'there']

In [40]:
Results_DF['state'],Results_DF['constituency-unit'] = zip(*Results_DF['constituency'].apply(lambda x : splitToStateAndConstituency(x)))

In [41]:
Results_DF.shape

(9150, 6)

In [42]:
Results_DF.columns

Index(['candidate', 'constituency', 'party', 'votes', 'state',
       'constituency-unit'],
      dtype='object')

In [43]:
Results_DF.head()

,candidate,constituency,party,votes,state,constituency-unit
0,ROBERT ROMAWIA ROYTE,Mizoram - Aizawl East ii,Mizo National Front,5869,Mizoram,Aizawl East ii
1,B LALCHHANZOVA,Mizoram - Aizawl East ii,Independent,4377,Mizoram,Aizawl East ii
2,LALSAWTA,Mizoram - Aizawl East ii,Indian National Congress,3818,Mizoram,Aizawl East ii
3,T LALMALSAWMI,Mizoram - Aizawl East ii,Bharatiya Janata Party,112,Mizoram,Aizawl East ii
4,None of the Above,Mizoram - Aizawl East ii,None of the Above,47,Mizoram,Aizawl East ii